$font-weight-bold: 700;
$font-weight-normal: 400;

$roboto-bold: 'Roboto-Bold' !important;
$roboto-black: 'Roboto-Black' !important;
$roboto-light: 'Roboto-Light' !important;
$roboto-regular: 'Roboto-Regular' !important;
$roboto-medium: 'Roboto-Medium' !important;
$roboto-italic: 'Roboto-Italic' !important;
$roboto-thin: 'Roboto-Thin' !important;

$active-bg-color: #04B431;
$inactive-bg-color: #848484;

$white: #ffffff;
$ghost-white: #F9F9F9;
$isabelline: #eeeeee;
$gainsboro: #DEDEDE;
$anti-flash-white: #f1f1f1;
$black: #000000;
$eerie-black: #1a1a1a;
$jet-black: #333333;
$spanish-gray: #999999;
$pastel-grey: #cccccc;
$line-gray: #EAEAEA;
$vivid-orange: #ff6200;
$cultured: #f5f5f5;
$red: #ff0000;
$madder-red: #d43737;

$default-fontSize: 16px;
$title-fontSize: 20px;
$headline-fontSize: 26px;
$header-fontSize: 32px;

$bold: bold;
$regular: regular;
$align-left: left;
$align-center: center;
$default-alignment: left;